Source: libzt
Section: libs
Priority: optional
Maintainer: Adam Ierymenko <adam.ierymenko@zerotier.com>
Uploaders: Goran Vidovic (gogo) <trebelnik2@gmail.com>
Build-Depends:
	debhelper,
	cmake,
	g++
Standards-Version: 4.3.0
Homepage: https://github.com/zerotier/libzt
Vcs-Git: git@github.com:zerotier/libzt.git
Vcs-Browser: https://github.com/zerotier/libzt.git

Package: libzt
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: ZeroTier Sockets
 Peer-to-peer and cross-platform encrypted connections built right into your app or service
 No drivers, no root, and no host configuration.

